@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3E517A;
  --secondary: #D0DCD4;
  --light: #E6FAFC;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dar) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  @apply mx-auto p-4;
}